body {
  background-color: #F4E6D9;
}

b {
  font-weight: normal;
}

.logo {
  margin-top: 75px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mushroomInfo {
  border: 1px solid #A78F72;
}

* {
  box-sizing: border-box;
}

.mushroomInfo:after {
  content: "";
  display: table;
  clear: both;
}

.mushroomInfo:hover {
  background-color: #A78F72;
}

.mushroomInfo > p {
  color: black;
}

.left{
  float: left;
  width: 30%;
}

.right{
  float: left;
  width: 70%;
  color: black;
  
}

.searchDiv {
  width: 100%;
  margin: auto;
}

.searchImage {
  width: 90px;
  padding: 8px;
}

.button {
  background-color: #A78F72;
  border: none;
  color: white;
  padding: 7px 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 5px 5px 8px #888888;
}

.button:hover {
  background-color: #553d20;
}

.buttongroup{
  padding-top: 20px;
  width: 75%;
  margin: auto;
  margin-bottom: 100px;
}

.searchBar {  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  border-radius: 30px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.superButtongroup {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchBar1{
  width: 100%;
  border-bottom: 1px solid #A78F72;
  padding-bottom: 12px;
  padding-top: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #F4E6D9;
  }

  

.list {
  margin-top: 63px;
}



.nav {
  padding-bottom: 10px;
  padding-top: 12px;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.searchBarTop {
  background-image: url(bilder/search.svg);
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 25px;

  position: absolute;
  width: 70%;
  border-radius: 50px;
  font-size: 1.5em;
  text-decoration: none;
  vertical-align: middle;
  left: 15%;
  margin-top: 3px;
}

.backButton{
  /*width: 10%;*/
  height: 40px;
  vertical-align: middle;
  float: left;
  margin-left: 5px;
}

.backButton:hover {
  opacity: 0.5;
}

.backButtonColor{
  /*width: 10%;*/
  height: 40px;
  vertical-align: middle;
  float: left;
  position: absolute;
  margin-left: 2px;
  
}


.homeButton{
  height: 40px;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
}


.homeButton:hover {
  opacity: 0.5;
}

.searchBarButton {
  width: 80%;
  border-radius: 50px;
  font-size: 1.5em;
  text-decoration: none;
}

.varningText {
  font-size: 0.8em;
  text-align: right;
  padding-right: 30px;
}

.varning {
  position: fixed;
  width: 100%;
  color: black;
  margin:auto;
  bottom:0;
  padding-top: 15px;
}

.varningImage {
  float: left;
  padding-left: 30px;
}

.alignleft {
  float: left;
  padding-top: 0px;
}

.alignright {
  float: right;
  padding-top: 15px;
}

.icon {
  width: 30px;
}

/*.iconEdible {
}*/

.mushroomDetails {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  
}

.mushroomPicture {
  float: left;
}

.picture{
  width: 100%;
  box-shadow: 5px 5px 8px #888888;
}

.mushroomDescription{
  border: 1px solid #A78F72;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  
}

.leftSida3{
  float: left;
  width: 40%;
}
.rightSida3{
  margin-left: 8% ;
  float: left;
  width: 50%;

}
.shortDescription{
  margin: 0;
}

/********************************/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#img01{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption, #img01 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/********************************/

#poticon{
  width: 40px;
  height: 40px;
}