body {
  background-color: #F4E6D9;
}

.logo {
  margin-top: 75px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.searchDiv {
width: 80%;
margin: auto;
}

.searchBar {
  display: flex;
  width: 100%;
  border-radius: 50px;
  font-size: 1.5em;

}

.varningText {
  display: inline-block;
}

.varning {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}



.button {
  background-color: #A78F72;
  border: none;
  color: white;
  padding: 7px 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top:  10px;
  border-radius: 15px;
  height: 50px;
  width: 100%;
}

.buttongroup{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.icon {
  width: 30px;
}