body {
  background-color: #F4E6D9;
}

b {
  font-weight: normal;
}

.logo {
  margin-top: 75px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mushroomInfo {
  border: 1px solid #A78F72;
}

* {
  box-sizing: border-box;
}

.mushroomInfo:after {
  content: "";
  display: table;
  clear: both;
}

.left{
  float: left;
  width: 30%;
}

.right{
  float: left;
  width: 70%;
  color: black;
  
}

.searchDiv {
  width: 100%;
  margin: auto;
}

.searchImage {
  width: 90px;
  padding: 8px;
}

.mushroomInfo > p {
  color: black;
}

.button {
  background-color: #A78F72;
  border: none;
  color: white;
  padding: 7px 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
}

.buttongroup{
  padding-top: 20px;
  width: 75%;
  margin: auto;
}

.searchBar {  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  border-radius: 30px;
  width: 100%;
}

.superButtongroup {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchBar1{
  width: 100%;
  border-bottom: 1px solid #A78F72;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #F4E6D9;
  }

.list {
  margin-top: 53px;
}

.nav {
  padding-bottom: 10px;
  padding-top: 12px;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.searchBarTop {
  width: 80%;
  border-radius: 50px;
  font-size: 1.5em;
  text-decoration: none;
  vertical-align: middle;
}

.backButton{
  /*width: 10%;*/
  height: 30px;
  vertical-align: middle;
}

.searchBarButton {
  width: 80%;
  border-radius: 50px;
  font-size: 1.5em;
  text-decoration: none;
}

.varningText {
  font-size: 0.8em;
  text-align: right;
  padding-right: 30px;
}

.varning {
  position: fixed;
  width: 100%;
  color: black;
  margin:auto;
  bottom:0;
  padding-top: 15px;
}

.varningImage {
  float: left;
  padding-left: 30px;
}

.alignleft {
  float: left;
  padding-top: 0px;
}

.alignright {
  float: right;
  padding-top: 15px;
}

.icon {
  width: 30px;
}

.mushroomDetails {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  
}

.mushroomPicture {
  float: left;
}

.picture{
  width: 100%;
}



.mushroomDescription{
  border: 1px solid #A78F72;
  border-radius: 15px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.leftSida3{
  float: left;
  width: 40%;
}
.rightSida3{
  margin-left: 8% ;
  float: left;
  width: 50%;

}
.shortDescription{
  margin: 0;
}